#play {
    background-color :#4CAF50;
    cursor: pointer;
    font-size: 30px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transform: translate(450px,240px) ;
    
  }
  body{
    background-image: url(https://img.freepik.com/premium-vector/flying-floating-rock-stone-planet-star-space-exploration-illustration_7081-2420.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100%;

  }
  button {
    background-color :#4CAF50;
    cursor: pointer;
    font-size: 30px;
    color: white;
    padding: 30px 90px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    
  }
 

  input{
    font-size: 40px;
    height:  70px ;
    width:  600px;
    top:50%
  }
  .ama{
    text-align: center;
    padding-top: 6.5cm;
  }
    .ab{
      
        color: aliceblue;
       font-size: 500 px;
        text-align: center;
    
    }
